<div class="page">
  <div class="row">
    <div class="col-md-6">

      <!-- Collapse -->
      <section class="panel panel-default">
        <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Collapse</div>
        <div class="panel-body" data-ng-controller="CollapseDemoCtrl">
          <button class="btn btn-primary" ng-click="isCollapsed = !isCollapsed">Toggle collapse</button>
          <div class="divider divider-md"></div>
          <div collapse="isCollapsed">
            <div class="well well-lg">Some content</div>
          </div>
        </div>
      </section>
      <!-- end Collapse -->

    </div>
  </div>


  <!-- Bullet -->
  <section class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Bullet</div>
    <div class="panel-body">
      <div class="divider divider-lg"></div>

      <div class="row">
        <div class="col-md-4">
          <div class="ui-bullet">
            <div class="btn-icon btn-icon-round btn-icon-lg bg-primary">
              <i class="fa fa-cab"></i>
            </div>
            <div class="ui-bullet-content">
              <h3>This Bullet Title</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, nesciunt, eius accusamus quam quaerat molestiae voluptas dignissimos tempora non veniam. Sint libero quia repellendus eveniet dolores distinctio amet consectetur suscipit.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ui-bullet">
            <div class="btn-icon btn-icon-round btn-icon-lg bg-info">
              <i class="fa fa-database"></i>
            </div>
            <div class="ui-bullet-content">
              <h3>Another Bullet Title</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, nesciunt, eius accusamus quam quaerat molestiae voluptas dignissimos tempora non veniam. Sint libero quia repellendus eveniet dolores distinctio amet consectetur suscipit.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ui-bullet">
            <div class="btn-icon btn-icon-round btn-icon-lg bg-danger">
              <i class="fa fa-joomla"></i>
            </div>
            <div class="ui-bullet-content">
              <h3>Last Bullet Title</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, nesciunt, eius accusamus quam quaerat molestiae voluptas dignissimos tempora non veniam. Sint libero quia repellendus eveniet dolores distinctio amet consectetur suscipit.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="divider divider-lg"></div>
    </div>
  </section>
  <!-- end Bullet -->


  <!-- Alert -->
  <section class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Alerts</div>
    <div class="panel-body" data-ng-controller="AlertDemoCtrl">
      <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
      <button class='btn btn-primary' ng-click="addAlert()">Add Alert</button>
    </div>
  </section>
  <!-- end Alert -->


  <!-- Ribbons -->
  <div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Ribbons</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default ui-ribbon-container">
            <div class="ui-ribbon-wrapper">
              <div class="ui-ribbon">
                30% Off
              </div>
            </div>
            <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Ribbon</div>
            <div class="panel-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti rerum reprehenderit ipsam natus saepe. Recusandae, itaque nulla in illum dolorum ea eveniet quaerat ipsa placeat magni commodi obcaecati mollitia necessitatibus?</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default ui-ribbon-container ui-ribbon-primary">
            <div class="ui-ribbon-wrapper">
              <div class="ui-ribbon">
                30% Off
              </div>
            </div>
            <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Ribbon-primary</div>
            <div class="panel-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti rerum reprehenderit ipsam natus saepe. Recusandae, itaque nulla in illum dolorum ea eveniet quaerat ipsa placeat magni commodi obcaecati mollitia necessitatibus?</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default ui-ribbon-container ui-ribbon-success">
            <div class="ui-ribbon-wrapper">
              <div class="ui-ribbon">
                30% Off
              </div>
            </div>
            <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Ribbon-success</div>
            <div class="panel-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti rerum reprehenderit ipsam natus saepe. Recusandae, itaque nulla in illum dolorum ea eveniet quaerat ipsa placeat magni commodi obcaecati mollitia necessitatibus?</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default ui-ribbon-container ui-ribbon-info">
            <div class="ui-ribbon-wrapper">
              <div class="ui-ribbon">
                30% Off
              </div>
            </div>
            <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Ribbon-info</div>
            <div class="panel-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti rerum reprehenderit ipsam natus saepe. Recusandae, itaque nulla in illum dolorum ea eveniet quaerat ipsa placeat magni commodi obcaecati mollitia necessitatibus?</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default ui-ribbon-container ui-ribbon-warning">
            <div class="ui-ribbon-wrapper">
              <div class="ui-ribbon">
                30% Off
              </div>
            </div>
            <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Ribbon-warning</div>
            <div class="panel-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti rerum reprehenderit ipsam natus saepe. Recusandae, itaque nulla in illum dolorum ea eveniet quaerat ipsa placeat magni commodi obcaecati mollitia necessitatibus?</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default ui-ribbon-container ui-ribbon-danger">
            <div class="ui-ribbon-wrapper">
              <div class="ui-ribbon">
                30% Off
              </div>
            </div>
            <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Ribbon-danger</div>
            <div class="panel-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti rerum reprehenderit ipsam natus saepe. Recusandae, itaque nulla in illum dolorum ea eveniet quaerat ipsa placeat magni commodi obcaecati mollitia necessitatibus?</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- end Ribbons -->



  <!-- Panels -->
  <section class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Panels</div>
    <div class="panel-body">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          Panel content
        </div>
        <div class="panel-footer">Panel footer</div>
      </div>
      <div class="panel panel-dark">
        <div class="panel-heading">
          <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
    </div>
  </section>
  <!-- end Panels -->
  
  <!-- Well -->
  <section class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Well</div>
    <div class="panel-body">
      <div class="well well-sm">Look, I'm in a small well!</div>
      <div class="well">Look, I'm in a well!</div>
      <div class="well well-lg">Look, I'm in a large well!</div>
    </div>
  </section>
  <!-- end Well -->





</div>
