<div class="page">

  <!-- Headings -->
  <div class="row">
    <div class="col-md-6">

      <!-- Headings, standard font -->
      <div class="panel panel-default">
        <div class="panel-heading"><h6 class="panel-title"><i class="fa fa-header"></i> Standard headings</h6></div>
        <div class="panel-body">

          <h1 style="margin-top: 0;">H1 Tag Header <small>Inline heading note</small></h1>
          <p>Vivamus non <a href="#" title="">massa eu massa</a> ornare vulputate id ac velit. <strong>Pellentesque nunc nulla</strong>, faucibus at pretium eu, fringilla ut dui. </p>

          <h2>H2 Tag Header <small>Inline heading note</small></h2><p>Mauris <span class="text-danger">luctus nisi</span> sed erat pharetra nec hendrerit mi sagittis. <span class="text-info">Pellentesque</span> nulla erat, varius nec sagittis a, pretium et est. </p>

          <h3>H3 Tag Header <small>Inline heading note</small></h3>
          <p>Pellentesque habitant <s>morbi tristique</s> senectus et netus et malesuada <span class="text-warning">fames ac turpis</span> egestas. Phasellus a lacus massa</p>

          <h4>H4 Tag Header <small>Inline heading note</small></h4><p>Cras nec nunc sit amet mi <span class="text-success">dictum sagittis</span> id vitae est. Aliquam id dolor non metus aliquam faucibus nec pretium mi <span class="text-muted">vestibulum</span> </p>

          <h5>H5 Tag Header <small>Inline heading note</small></h5>
          <p>Praesent nec leo arcu. <span class="text-semibold">Nulla facilisi</span>. Aenean neque arcu, laoreet <i>in bibendum sed</i>, tincidunt consectetur dolor. </p>

          <h6>H6 Tag Header <small>Inline heading note</small></h6>
          <p>Integer dui felis, <em><span class="text-semibold">varius quis vulputate</span></em> egestas, suscipit ac nisi. <u>Vestibulum sed odio</u> lectus, a dictum enim</p>

        </div>
      </div>
      <!-- /headings, standard font -->

    </div>

    <div class="col-md-6">

      <!-- Headings, Open Sans -->
      <div class="panel panel-default">
        <div class="panel-heading"><h6 class="panel-title"><i class="fa fa-header"></i> Styled headings</h6></div>
        <div class="panel-body">

          <h1 style="margin-top: 0;"><i class="fa fa-file-text-o"></i> H1 Tag Header <span class="label label-success">New</span> <small class="note-block">Block heading note</small></h1>
          <p>Vivamus non <a href="#" title="">massa eu massa</a> ornare vulputate id ac velit. <strong>Pellentesque nunc nulla</strong>, faucibus at pretium eu, fringilla ut dui. </p>

          <h2><i class="fa fa-file-text-o"></i> H2 Tag Header <span class="label label-danger">New</span> <small class="note-block">Block heading note</small></h2><p>Mauris <span class="text-danger">luctus nisi</span> sed erat pharetra nec hendrerit mi sagittis. <span class="text-info">Pellentesque</span> nulla erat, varius nec sagittis a, pretium et est. </p>

          <h3><i class="fa fa-file-text-o"></i> H3 Tag Header <span class="label label-info">New</span> <small class="note-block">Block heading note</small></h3>
          <p>Pellentesque habitant <s>morbi tristique</s> senectus et netus et malesuada <span class="text-warning">fames ac turpis</span> egestas. Phasellus a lacus massa</p>

          <h4><i class="fa fa-file-text-o"></i> H4 Tag Header <span class="label label-warning">New</span> <small class="note-block">Block heading note</small></h4><p>Cras nec nunc sit amet mi <span class="text-success">dictum sagittis</span> id vitae est. Aliquam id dolor non metus aliquam faucibus nec pretium mi <span class="text-muted">vestibulum</span> </p>

          <h5><i class="fa fa-file-text-o"></i> H5 Tag Header <span class="label label-default">New</span> <small class="note-block">Block heading note</small></h5>
          <p>Praesent nec leo arcu. <span class="text-semibold">Nulla facilisi</span>. Aenean neque arcu, laoreet <i>in bibendum sed</i>, tincidunt consectetur dolor. </p>

          <h6><i class="fa fa-file-text-o"></i> H6 Tag Header <span class="label label-danger">New</span> <small class="note-block">Block heading note</small></h6>
          <p>Integer dui felis, <em><span class="text-semibold">varius quis vulputate</span></em> egestas, suscipit ac nisi. <u>Vestibulum sed odio</u> lectus, a dictum enim</p>

        </div>
      </div>
      <!-- /headings, Open Sans -->

    </div>
  </div>
  <!-- /headings -->

  <div class="row">
    <div class="col-md-6">
      <!-- Labels -->
      <section class="panel panel-default">
          <div class="panel-heading"><span class="fa fa-font"></span> Labels & Badges</div>
          <div class="panel-body text-center">
              <div class="row">
                  <div class="col-lg-6">
                      <strong>Labels</strong>
                      <div class="well">
                        <span class="label label-default">Default</span>
                        <div class="space"></div>
                        <span class="label label-primary">Primary</span>
                        <div class="space"></div>
                        <span class="label label-success">Success</span>
                        <div class="divider"></div>
                        <span class="label label-info">Info</span>
                        <div class="space"></div>
                        <span class="label label-warning">Warning</span>
                        <div class="space"></div>
                        <span class="label label-danger">Danger</span>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <strong>Badges</strong>
                      <div class="well">
                        <span class="badge">7</span>
                        <div class="space"></div>
                        <span class="badge badge-primary">1</span>
                        <div class="space"></div>
                        <span class="badge badge-success">2</span>
                        <div class="space"></div>
                        <span class="badge badge-info">4</span>
                        <div class="space"></div>
                        <span class="badge badge-warning">8</span>
                        <div class="space"></div>
                        <span class="badge badge-danger">16</span>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- end Labels -->
      <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="fa fa-font"></span> Emphasis Styles</strong></div>
        <div class="panel-body">
          <strong class="">Emphasis classes</strong>
          <p class="text-muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
          <p class="text-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
          <p class="text-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
          <p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
          <p class="text-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>

        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="fa fa-quote-left"></span> Blockquote</strong></div>
        <div class="panel-body">
          <h5 class="text-center">Left</h5>
          <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit excepturi enim aliquid rerum dolore nostrum.</p>
            <small>Someone famous</small>
          </blockquote>
          <h5 class="text-center">Right</h5>
          <blockquote class="pull-right">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit excepturi enim aliquid rerum dolore nostrum.</p>
            <small>Someone famous</small>
          </blockquote>
          <h5 class="text-center">Left</h5>
          <blockquote class="blockquote-colored">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit excepturi enim aliquid rerum dolore nostrum.</p>
            <small>Someone famous</small>
          </blockquote>
          <h5 class="text-center">Right</h5>
          <blockquote class="blockquote-colored pull-right">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit excepturi enim aliquid rerum dolore nostrum.</p>
            <small>Someone famous</small>
          </blockquote>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="fa fa-font"></span> Hightlights</strong></div>
        <div class="panel-body">
          <p>Opsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, quam, soluta, quia mollitia sequi voluptas magnam perspiciatis deleniti <span class="highlight">ratione ad molestias eum minima sed</span> libero enim laborum sunt vel porro. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, voluptas, placeat provident impedit<strong> maiores</strong> odio doloribus corrupti exercitationem veritatis ipsum ipsam adipisci quis consequatur assumenda rerum corporis possimus ad architecto</p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="fa fa-font"></span> Dropcap</strong></div>
        <div class="panel-body">
          <strong class="">Normal</strong>
          <div class="well">
            <p><span class="dropcap">L</span>orem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, illo, iste itaque voluptas corrupti ratione reprehenderit magni similique? Tempore, quos delectus asperiores libero voluptas quod perferendis! Voluptate, quod illo rerum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, ipsa, in, laboriosam, dignissimos nobis quaerat vitae a facere esse neque laudantium nisi atque quos assumenda magni quae architecto fugiat libero.</p>
          </div>
          <strong class="">Square</strong>
          <div class="well">
            <p><span class="dropcap-square">D</span>orem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, illo, iste itaque voluptas corrupti ratione reprehenderit magni similique? Tempore, quos delectus asperiores libero voluptas quod perferendis! Voluptate, quod illo rerum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, ipsa, in, laboriosam, dignissimos nobis quaerat vitae a facere esse neque laudantium nisi atque quos assumenda magni quae architecto fugiat libero.</p>
          </div>
          <strong class="">Circle</strong>
          <div class="well">
            <p><span class="dropcap-circle">E</span>orem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, illo, iste itaque voluptas corrupti ratione reprehenderit magni similique? Tempore, quos delectus asperiores libero voluptas quod perferendis! Voluptate, quod illo rerum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, ipsa, in, laboriosam, dignissimos nobis quaerat vitae a facere esse neque laudantium nisi atque quos assumenda magni quae architecto fugiat libero.</p>
          </div>
          <strong class="">Normal Colored</strong>
          <div class="well">
            <p><span class="dropcap colored">L</span>orem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, illo, iste itaque voluptas corrupti ratione reprehenderit magni similique? Tempore, quos delectus asperiores libero voluptas quod perferendis! Voluptate, quod illo rerum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, ipsa, in, laboriosam, dignissimos nobis quaerat vitae a facere esse neque laudantium nisi atque quos assumenda magni quae architecto fugiat libero.</p>
          </div>
          <strong class="">Square</strong>
          <div class="well">
            <p><span class="dropcap-square colored">D</span>orem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, illo, iste itaque voluptas corrupti ratione reprehenderit magni similique? Tempore, quos delectus asperiores libero voluptas quod perferendis! Voluptate, quod illo rerum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, ipsa, in, laboriosam, dignissimos nobis quaerat vitae a facere esse neque laudantium nisi atque quos assumenda magni quae architecto fugiat libero.</p>
          </div>
          <strong class="">Circle</strong>
          <div class="well">
            <p><span class="dropcap-circle colored">E</span>orem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, illo, iste itaque voluptas corrupti ratione reprehenderit magni similique? Tempore, quos delectus asperiores libero voluptas quod perferendis! Voluptate, quod illo rerum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, ipsa, in, laboriosam, dignissimos nobis quaerat vitae a facere esse neque laudantium nisi atque quos assumenda magni quae architecto fugiat libero.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading"><strong><span class="fa fa-list"></span> Lists</strong></div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <strong class=""><i class="fa fa-list-ul"></i> Unordered</strong>
          <div class="well">
            <ul>
              <li>Lorem ipsum dolor sit amet</li>
              <li>Consectetur adipiscing elit</li>
              <li>Integer molestie lorem at massa</li>
              <li>Facilisis in pretium nisl aliquet</li>
              <li>Nulla volutpat aliquam velit
                <ul>
                  <li>Phasellus iaculis neque</li>
                  <li>Purus sodales ultricies</li>
                  <li>Vestibulum laoreet porttitor sem</li>
                  <li>Ac tristique libero volutpat at</li>
                </ul>
              </li>
              <li>Faucibus porta lacus fringilla vel</li>
              <li>Aenean sit amet erat nunc</li>
              <li>Eget porttitor lorem</li>
            </ul>
          </div>

          <strong class="">Unstyled</strong>
          <div class="well">
            <ul class="list-unstyled">
              <li>Integer molestie lorem at massa</li>
              <li>Facilisis in pretium nisl aliquet</li>
              <li>Nulla volutpat aliquam velit
                <ul>
                  <li>Phasellus iaculis neque</li>
                  <li>Purus sodales ultricies</li>
                  <li>Vestibulum laoreet porttitor sem</li>
                  <li>Ac tristique libero volutpat at</li>
                </ul>
              </li>
              <li>Faucibus porta lacus fringilla vel</li>
              <li>Aenean sit amet erat nunc</li>
              <li>Eget porttitor lorem</li>
            </ul>
          </div>

          <strong class="">Inline</strong>
          <div class="well">
            <ul class="list-inline">
              <li>Lorem ipsum</li>
              <li>Phasellus iaculis</li>
              <li>Nulla volutpat</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <strong class=""><i class="fa fa-list-ol"></i> Ordered</strong>
          <div class="well">
            <ol>
              <li>Lorem ipsum dolor sit amet</li>
              <li>Consectetur adipiscing elit</li>
              <li>Integer molestie lorem at massa</li>
              <li>Facilisis in pretium nisl aliquet</li>
              <li>Nulla volutpat aliquam velit
                <ol>
                  <li>Phasellus iaculis neque</li>
                  <li>Purus sodales ultricies</li>
                  <li>Vestibulum laoreet porttitor sem</li>
                  <li>Ac tristique libero volutpat at</li>
                </ol>
              </li>
              <li>Faucibus porta lacus fringilla vel</li>
              <li>Aenean sit amet erat nunc</li>
              <li>Eget porttitor lorem</li>
            </ol>
          </div>

          <strong class="">Description</strong>
          <div class="well">
            <dl>
              <dt>Description lists</dt>
              <dd>A description list is perfect for defining terms.</dd>
              <dt>Euismod</dt>
              <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
              <dd>Donec id elit non mi porta gravida at eget metus.</dd>
            </dl>
          </div>

          <strong class="">Horizontal description</strong>
          <div class="well">
            <dl class="dl-horizontal">
              <dt>Description lists</dt>
              <dd>A description list is perfect for defining terms.</dd>
              <dd>Donec id elit non mi porta gravida at eget metus.</dd>
              <dt>Malesuada porta</dt>
              <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
              <dt>Felis euismod semper eget lacinia</dt>
              <dd>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
            </dl>
          </div>


        </div>

      </div>
    </div>
  </div>

</div>
