<div class="page page-dashboard" data-ng-controller="DashboardCtrl">

  <div class="row">
    <div class="col-md-4 col-lg-3 col-xsm-6">
      <section class="panel panel-box info-box">
        <div class="panel-left panel-item bg-info">
          <i class="fa fa-shopping-cart text-large stat-icon"></i>
        </div>
        <div class="panel-right panel-item bg-reverse">
          <p class="size-h1 no-margin">1,324</p>
          <p class="text-muted no-margin"><span>Sales</span></p>
        </div>
      </section>
    </div>
    <div class="col-md-4 col-lg-3 col-xsm-6">
      <section class="panel panel-box info-box">
        <div class="panel-left panel-item bg-warning">
          <i class="fa fa-dollar text-large stat-icon"></i>
        </div>
        <div class="panel-right panel-item bg-reverse">
          <p class="size-h1 no-margin">8,120</p>
          <p class="text-muted no-margin"><span>Profit</span></p>
        </div>
      </section>
    </div>
    <div class="col-md-4 col-lg-3 col-xsm-6">
      <section class="panel panel-box info-box">
        <div class="panel-left panel-item bg-success">
          <i class="fa fa-line-chart text-large stat-icon"></i>
        </div>
        <div class="panel-right panel-item bg-reverse">
          <p class="size-h1 no-margin">36 <span class="size-h4">%</span></p>
          <p class="text-muted no-margin"><span>Growth</span></p>
        </div>
      </section>
    </div>
    <div class="col-md-4 col-lg-3 col-xsm-6">
      <section class="panel panel-box info-box">
        <div class="panel-left panel-item bg-primary">
          <i class="fa fa-user-plus text-large stat-icon"></i>
        </div>
        <div class="panel-right panel-item bg-reverse">
          <p class="size-h1 no-margin">542</p>
          <p class="text-muted no-margin"><span>Customers</span></p>
        </div>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <div class="panel panel-default">
        <div class="panel-heading"><span class="fa fa-bar-chart"></span> <strong>Game Console Market Share</strong></div>
        <div class="panel-body" data-ng-controller="morrisChartCtrl">
          <div morris-chart
          data-data="main.data"
          data-type="main.type"
          data-options="main.options"
          ></div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <section class="panel panel-default" data-ng-controller="morrisChartCtrl">
        <div class="panel-heading"><span class="fa fa-bar-chart"></span> <strong>Broswer Share</strong></div>
        <div class="panel-body">
          <div morris-chart
          data-data="donutBrowser.data"
          data-type="donutBrowser.type"
          data-options="donutBrowser.options"
          ></div>
        </div>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <!-- Stats -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong><span class="mdi mdi-server-network"></span> Server Usage</strong>
        </div>
        <div class="panel-body">
          <div class="row">
            <div data-ng-controller="chartCtrl">

              <div class="col-xsm-12 col-md-6">
                <div class="panel-body text-center">
                  <canvas data-gauge-chart
                  data-data="gaugeChart1.data"
                  data-options="gaugeChart1.options"
                  style="width: 220px; height: 110px; "
                  ></canvas>
                  <p class="text-center text-muted">CPU Usage</p>
                </div>
              </div>

              <div class="col-xsm-12 col-md-6">
                <div class="panel-body text-center">
                  <canvas data-gauge-chart
                  data-data="gaugeChart2.data"
                  data-options="gaugeChart2.options"
                  style="width: 220px; height: 110px; "
                  ></canvas>
                  <p class="text-center text-muted">Memory Usage</p>
                </div>
              </div>

              <div class="col-xsm-12 col-md-6">
                <div class="panel-body text-center">
                  <canvas data-gauge-chart
                  data-data="gaugeChart3.data"
                  data-options="gaugeChart3.options"
                  style="width: 220px; height: 110px; "
                  ></canvas>
                  <p class="text-center text-muted">Server Load</p>
                </div>
              </div>

              <div class="col-xsm-12 col-md-6">
                <div class="panel-body text-center">
                  <canvas data-gauge-chart
                  data-data="gaugeChart4.data"
                  data-options="gaugeChart4.options"
                  style="width: 220px; height: 110px; "
                  ></canvas>
                  <p class="text-center text-muted">Modern Browsers</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- end stats -->
    </div>

    <div class="col-md-7">
      <div class="panel panel-default" data-ng-controller="flotChartCtrl">
        <div class="panel-heading">
          <strong><span class="mdi mdi-server-network"></span> CPU Usage</strong>
        </div>
        <div class="panel-body">
          <div data-flot-chart-realtime
          data-type="realtime"
          style="width: 100%; height: 350px;"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
