<header class="top-header clearfix">

  <div class="menu-button" toggle-off-canvas>
    <i class="fa fa-bars"></i></a>
  </div>
  <!-- Toogle min nav -->
  <div class="toggle-min-nav">
    <a href="#/" data-toggle-nav-collapsed-min
    class="toggle-min"
    id="step3"
    ><i class="fa fa-bars"></i></a>
  </div>

  <!-- Logo -->
  <div class="logo">
    <a href="#/">
      <span class="text-danger">BF</span>PANEL
    </a>
  </div>

  <!-- needs to be put after logo to make it working-->

  <div class="top-nav">
    <ul class="nav-left list-unstyled">
      <li class="dropdown hidden-xs" dropdown>
        <a href="javascript:;" class="dropdown-toggle" id="step1" dropdown-toggle><i class="mdi mdi-format-paint"></i></a>
        <div class="dropdown-menu with-arrow panel panel-default admin-options animated littleFadeInDown" ui-not-close-on-click>
          <div class="panel-heading"> Admin Options </div>
          <ul class="list-group">
            <li class="list-group-item">
              <p>
                <strong>Skins</strong>
              </p>
              <p class="switch-skin">
                <button class="skin-option option-{{skin.class}}" ng-repeat="skin in skins" ng-class="{'active' : admin.skin.class === skin.class}" ng-click="switchSkin(skin.class)"></button>
              </p>
            </li>

            <li class="list-group-item">
              <p>
                <strong>Layouts Style</strong>
              </p>
              <label class="ui-radio"><input name="layout" type="radio" value="boxed" ng-model="admin.layout"><span>Boxed</span></label>
              <label class="ui-radio"><input name="layout" type="radio" value="fullscreen" ng-model="admin.layout"><span>Full screen</span></label>
            </li>

            <li class="list-group-item">
              <p>
                <strong>Menu Style</strong>
              </p>
              <label class="ui-radio"><input name="menu" type="radio" value="vertical" ng-model="admin.menu"><span>Vertical</span></label>
              <label class="ui-radio"><input name="menu" type="radio" value="horizontal" ng-model="admin.menu"><span>Horizontal</span></label>
            </li>

            <li class="list-group-item">
              <p>
                <strong>Header & Navbar</strong>
              </p>
              <label class="ui-checkbox"><input name="checkbox1" type="checkbox" value="option1" ng-model="admin.fixedHeader"><span>Fixed Header</span></label>
              <br>
              <label class="ui-checkbox"><input name="checkbox1" type="checkbox" value="option1" ng-model="admin.fixedSidebar"><span>Fixed Navigation Bar</span></label>
            </li>

            <li class="list-group-item">
              <p>
                <strong>Loaders: </strong>
                <span class="space"></span>
                <select ng-model="admin.loader"
                ng-options="loader.name for loader in loaders"></select>
              </p>
            </li>
            <li class="list-group-item">
              <p>
                <strong>Page Transition: </strong>
                <span class="space"></span>
                <select ng-model="admin.pageTransition"
                ng-options="pageTransitionOpt.name for pageTransitionOpt in pageTransitionOpts"></select>
              </p>
            </li>
          </ul>
        </div>
      </li>
      <li class="search-box visible-md visible-lg">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
          <input type="text" class="form-control search-box__input" placeholder="Search...">
        </div>
      </li>
    </ul>

    <ul class="nav-right pull-right list-unstyled">
      <li class="dropdown" dropdown>
        <a href="javascript:;" class="dropdown-toggle" dropdown-toggle>
          <i class="mdi mdi-email"></i>
          <span class="badge badge-danger">3</span>
        </a>
        <div class="dropdown-menu with-arrow panel panel-default pull-right">
          <div class="panel-heading">
            You have 3 mails.
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              <a href="javascript:;" class="media">
                <span class="pull-left media-icon">
                  <img src="images/g3.jpg" alt="" class="img-circle img40_40">
                </span>
                <div class="media-body">
                  <span class="block">Elena sent you a mail</span>
                  <span class="text-muted block">2min ago</span>
                </div>
              </a>
            </li>
            <li class="list-group-item">
              <a href="javascript:;" class="media">
                <span class="pull-left media-icon">
                  <img src="images/g2.jpg" alt="" class="img-circle img40_40">
                </span>
                <div class="media-body">
                  <span class="block">EvrNote sent you a mail</span>
                  <span class="text-muted">3 hours ago</span>
                </div>
              </a>
            </li>
            <li class="list-group-item">
              <a href="javascript:;" class="media">
                <span class="pull-left media-icon">
                  <img src="images/g1.jpg" alt="" class="img-circle img40_40">
                </span>
                <div class="media-body">
                  <span class="block">Will Smith sent you a mail</span>
                  <span class="text-muted">9 hours ago</span>
                </div>
              </a>
            </li>
          </ul>
          <div class="panel-footer">
            <a href="#/mail/inbox">Show all mails.</a>
          </div>
        </div>
      </li>
      <li class="dropdown" dropdown>
        <a href="javascript:;" class="dropdown-toggle" dropdown-toggle>
          <i class="mdi mdi-bell-ring"></i>
          <span class="badge badge-danger">3</span>
        </a>
        <div class="dropdown-menu with-arrow panel panel-default pull-right">
          <div class="panel-heading">
            You have 3 notifications.
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              <a href="javascript:;" class="media">
                <span class="pull-left media-icon">
                  <i class="mdi mdi-bell-ring text-danger"></i>
                </span>
                <div class="media-body">
                  <span class="block">You have new task</span>
                  <span class="text-muted block">5 minutes ago</span>
                </div>
              </a>
            </li>
            <li class="list-group-item">
              <a href="javascript:;" class="media">
                <span class="pull-left media-icon">
                  <i class="mdi mdi-bell-ring text-primary"></i>
                </span>
                <div class="media-body">
                  <span class="block">New order placed</span>
                  <span class="text-muted">3 hours ago</span>
                </div>
              </a>
            </li>
            <li class="list-group-item">
              <a href="javascript:;" class="media">
                <span class="pull-left media-icon">
                  <i class="mdi mdi-bell-ring text-success"></i>
                </span>
                <div class="media-body">
                  <span class="block">New feature added</span>
                  <span class="text-muted">4 hours ago</span>
                </div>
              </a>
            </li>
          </ul>
          <div class="panel-footer">
            <a href="#/mail/inbox">Show all notifications.</a>
          </div>
        </div>
      </li>
      <li class="dropdown text-normal nav-profile" dropdown>
        <a href="javascript:;" class="dropdown-toggle" dropdown-toggle>
          <img src="images/g1.jpg" alt="" class="img-circle img40_40">
        </a>
        <ul class="dropdown-menu with-arrow pull-right">
          <li>
            <a href="#/pages/profile">
              <i class="icon-user"></i>
              <span>Profile</span>
            </a>
          </li>
          <li>
            <a href="#/pages/lock-screen">
              <i class="icon-lock"></i>
              <span>Lock</span>
            </a>
          </li>
          <li>
            <a href="#/pages/signin">
              <i class="icon-logout"></i>
              <span>Log Out</span>
            </a>
          </li>
        </ul>
      </li>

    </ul>
  </div>

</header>
