
<div class="nav-wrapper">
  <ul id="nav"
  class="nav"
  data-ng-controller="NavCtrl"
  data-slim-scroll
  data-collapse-nav
  data-highlight-active>
  <li><a href="#/dashboard"> <i class="fa fa-dashboard text-info"></i><span>DASHBOARD</span></a></li>
  <li>
    <a href="#/ui"><i class="fa fa-diamond text-danger"></i><span>UI ELEMENTS</span></a>
    <ul>
      <li><a href="#/ui/buttons"><span>Buttons</span></a></li>
      <li><a href="#/ui/icons"><span>Icons</span></a></li>
      <li><a href="#/ui/loaders"><span>Loaders</span></a></li>
      <li><a href="#/ui/panels"><span>Panels</span></a></li>
      <li><a href="#/ui/accordions-tabs"><span>Accordions & Tabs</span></a></li>
      <li><a href="#/ui/sliders-progressbars"><span>Sliders & Progress Bars</span></a></li>
      <li><a href="#/ui/modals-tooltips"><span>Modals & Tooltips</span></a></li>
      <li><a href="#/ui/widgets"><span>Widgets</span></a></li>
      <li><a href="#/ui/typography"><span>Typography</span></a></li>
      <!-- <li><a href="#/ui/components"><span>Components</span></a></li> -->
    </ul>
  </li>

  <li>
    <a href="#/form"><i class="fa fa-list-alt text-primary"></i><span>FORMS</span></a>
    <ul>
      <li><a href="#/forms/elements"><span>Form Elements</span></a></li>
      <li><a href="#/forms/layouts"><span>Form Layouts</span></a></li>
      <li><a href="#/forms/validation"><span>Form Validation</span></a></li>
      <!-- <li><a href="#/forms/wizard"><span>Form Wizard</span></a></li> -->
    </ul>
  </li>
  <li>
    <a href="#/pages"><i class="fa fa-file-text-o text-info"></i><span>PAGES</span></a>
    <ul>
      <li><a href="#/pages/blank"><span>Blank Page</span></a></li>
      <li><a href="#/pages/signin"><span>Sign in</span></a></li>
      <li><a href="#/pages/signup"><span>Sign up</span></a></li>
      <li><a href="#/pages/forgot-password"><span>Reset Password</span></a></li>
      <li><a href="#/pages/lock-screen"><span>Lock Screen</span></a></li>
      <li><a href="#/pages/profile"><span>User Profile</span></a></li>
      <li><a href="#/pages/404"><span>Error 404</span></a></li>
      <li><a href="#/pages/500"><span>Error 500</span></a></li>
      <!-- <li><a href="#/pages/pricing"><span>Pricing</span> <div class="badge badge-warning pull-right">Coming in 1.1</div></a></li> -->
      <!-- <li><a href="#/pages/invoice"><span>Invoice</span> <div class="badge badge-warning pull-right">Coming in 1.1</div></a></li> -->
    </ul>
  </li>
  <li>
    <a href="#/table"><i class="fa fa-table text-warning"></i><span>TABLES</span></a>
    <ul>
      <li><a href="#/tables/styles"><SPAN>Table Styles</span></a></li>
      <!-- <li><a href="#/tables/responsive"><span>Responsive Tables</span> <span class="badge badge-info">2</span></a></li> -->
      <li><a href="#/tables/dynamic"><span>Data Tables</span></a></li>
    </ul>
  </li>
  <li>
    <a href="#/charts"><i class="fa fa-bar-chart text-danger"></i><span>CHARTS</span></a>
    <ul>
      <li><a href="#/charts/flot">Flot Charts</a></li>
      <li><a href="#/charts/morris">Morris Charts</span></a></li>
      <li><a href="#/charts/charts">Other Charts</span></a></li>
    </ul>
  </li>

  <li>
    <a href="#/mail"><i class="fa fa-envelope-o text-success"></i><span>MAIL</span></a>
    <ul>
      <li><a href="#/mail/inbox"><span>Inbox</span></a></li>
      <li><a href="#/mail/compose"><span>Compose</span></a></li>
      <li><a href="#/mail/single"><span>Single Mail</span></a></li>
    </ul>
  </li>
</ul>
</div>
